[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My first steps in web development:)
[access "refs/*"]
	owner = group user/Ivan Betsis (adanos911)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ivan Betsis (adanos911)
	label-Verified = -1..+1 group user/Ivan Betsis (adanos911)
	push = group user/Ivan Betsis (adanos911)
	read = group user/Ivan Betsis (adanos911)
	rebase = group user/Ivan Betsis (adanos911)
	removeReviewer = group user/Ivan Betsis (adanos911)
	submit = group user/Ivan Betsis (adanos911)
[access "refs/heads/*"]
	create = group user/Ivan Betsis (adanos911)
	push = +force group user/Ivan Betsis (adanos911)
	pushMerge = group user/Ivan Betsis (adanos911)
	read = group user/Ivan Betsis (adanos911)
[access "refs/tags/*"]
	push = group user/Ivan Betsis (adanos911)
	push = +force group user/Ivan Betsis (adanos911)
